.wallet {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wallet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5204bf;
  border: none;
  border-radius: 10px;
}

.wallet-button:active {
  background-color: #3604bf;
}
.wallet-button .network-and-address {
  display: flex;
  flex-direction: column;
}

.wallet-button .network-and-address p {
  font-size: 16px;
  color: white;
  width: 125px;
  margin: 5px;
}

.wallet-button i {
  font-size: 16px;
  margin: 10px;
  color: white;
}

.wallet-address {
  font-size: 16px;
}
