.wallet {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wallet-button {
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: #5204bf;
}

.wallet-button:active {
  background-color: #3604bf;
}

.wallet-button-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.wallet-button .network-and-address {
  display: flex;
  flex-direction: column;
}

.wallet-button p {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 5px;
}
